@model HomeEconomics.Data.Entities.Rewards.Evaluation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
<dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evaluated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaluated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evaluator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaluator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reward)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
